*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFD9D9;
    background-color: #A00000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23A00000' width='11' height='11'/%3E%3Crect fill='%239e0001' x='10' width='11' height='11'/%3E%3Crect fill='%239c0002' y='10' width='11' height='11'/%3E%3Crect fill='%239a0003' x='20' width='11' height='11'/%3E%3Crect fill='%23980004' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23960005' y='20' width='11' height='11'/%3E%3Crect fill='%23940006' x='30' width='11' height='11'/%3E%3Crect fill='%23920107' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23900108' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%238e0109' y='30' width='11' height='11'/%3E%3Crect fill='%238c020a' x='40' width='11' height='11'/%3E%3Crect fill='%238a020b' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%2387020b' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%2385030c' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2383030d' y='40' width='11' height='11'/%3E%3Crect fill='%2381030d' x='50' width='11' height='11'/%3E%3Crect fill='%237f040e' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%237d040e' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%237b050f' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%2379050f' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2377050f' y='50' width='11' height='11'/%3E%3Crect fill='%23750610' x='60' width='11' height='11'/%3E%3Crect fill='%23730610' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23700710' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%236e0711' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%236c0811' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%236a0811' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23680911' x='70' width='11' height='11'/%3E%3Crect fill='%23660912' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23640912' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23620a12' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23600a12' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%235e0a12' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%235b0b12' x='80' width='11' height='11'/%3E%3Crect fill='%23590b12' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23570b12' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23550c12' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23530c12' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23510c12' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%234f0c12' x='90' width='11' height='11'/%3E%3Crect fill='%234d0d12' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%234b0d12' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23480d12' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23460d12' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23440d12' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23420d11' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23400d11' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%233e0d11' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%233c0d11' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%233a0e10' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23380e10' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23360d10' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23340d0f' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23320d0f' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23300d0f' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%232e0d0e' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%232c0d0e' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%232a0d0d' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23280c0d' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23260C0C' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#containerFather{
    height: 95vh
}

.container{
    color: aliceblue;
    width: 30rem;
    box-shadow: 4px 4px 20px 2px rgba(0, 3, 18, 0.5);
    border-radius: 0.6rem;
    padding: 0.9rem 0.7.1rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 0 !important;
}

span{
    font-size: 6rem;
}

.principalButtons{
    font-size: 2rem;
    padding: 1rem 0;
    border: none;
    background-color: rgba(235, 247, 255, 0.876);
}

.principalButtons:hover{
    background-color: rgb(2, 7, 30);
}

p{
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 !important;
}

#pomodoroTotalTime{
    margin-top: 1rem;
}
